<head>
  <title>About</title>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="icon" href="../../../assets/site/images/favicon.ico" />
  <link rel="shortcut icon" href="../../../assets/site/images/favicon.ico" />
  <link rel="stylesheet" href="../../../assets/site/booking/css/booking.css" />
  <link rel="stylesheet" href="../../../assets/site/css/camera.css" />
  <link rel="stylesheet" href="../../../assets/site/css/owl.carousel.css" />
  <link rel="stylesheet" href="../../../assets/site/css/style.css" />
  <script src="../../../assets/site/js/jquery.js"></script>
  <script src="../../../assets/site/js/jquery-migrate-1.2.1.js"></script>
  <script src="../../../assets/site/js/script.js"></script>
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0,user-scalable=0"
  />
  <script src="../../../assets/site/js/superfish.js"></script>
  <script src="../../../assets/site/js/jquery.ui.totop.js"></script>
  <script src="../../../assets/site/js/jquery.equalheights.js"></script>
  <script src="../../../assets/site/js/jquery.mobilemenu.js"></script>
  <script src="../../../assets/site/js/jquery.easing.1.3.js"></script>
  <script src="../../../assets/site/js/owl.carousel.js"></script>
  <script src="../../../assets/site/js/camera.js"></script>
  <!--[if (gt IE 9)|!(IE)]><!-->
  <script src="../../../assets/site/js/jquery.mobile.customized.min.js"></script>
  <!--<![endif]-->
  <script src="../../../assets/site/booking/js/booking.js"></script>
  <script
    type="text/javascript"
    src="../../../assets/site/booking/js/jquery-ui-1.10.3.custom.min.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/site/booking/js/jquery.fancyform.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/site/booking/js/jquery.placeholder.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/site/booking/booking/js/regula.js"
  ></script>
  <script>
    $(document).ready(function () {
      jQuery("#camera_wrap").camera({
        loader: false,
        pagination: false,
        minHeight: "444",
        thumbnails: false,
        height: "48.375%",
        caption: true,
        navigation: true,
        fx: "mosaic",
      });
      /*carousel*/
      var owl = $("#owl");
      owl.owlCarousel({
        items: 2, //10 items above 1000px browser width
        itemsDesktop: [995, 2], //5 items between 1000px and 901px
        itemsDesktopSmall: [767, 2], // betweem 900px and 601px
        itemsTablet: [700, 2], //2 items between 600 and 0
        itemsMobile: [479, 1], // itemsMobile disabled - inherit from itemsTablet option
        navigation: true,
        pagination: false,
      });
      $().UItoTop({ easingType: "easeOutQuart" });
    });
  </script>
  <!--[if lt IE 8]>
    <div style="clear: both; text-align: center; position: relative;">
      <a
        href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"
      >
        <img
          src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg"
          border="0"
          height="42"
          width="820"
          alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."
        />
      </a>
    </div>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css" />
  <![endif]-->
</head>
<body class="page1" id="top" style="">
  <!--==============================header=================================-->
  <header>
    <div class="container_12">
      <div class="grid_12">
        <div class="menu_block">
          <nav class="horizontal-nav full-width horizontalNav-notprocessed">
            <ul class="sf-menu sf-js-enabled sf-arrows">
              <li class="current"><a href="index.html">ABOUT</a></li>
              <li><a href="index-1.html">HOT TOURS</a></li>
              <li><a href="index-2.html">SPECIAL OFFERS</a></li>
              <li><a href="index-3.html">BLOG</a></li>
              <li><a href="index-4.html">CONTACTS</a></li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
      <div class="grid_12">
        <h1>
          <a href="index.html">
            <img
              src="../../../assets/site/images/logo.png"
              alt="Your Happy Family"
            />
          </a>
        </h1>
      </div>
    </div>
  </header>
  <div class="slider_wrapper">
      
    <div
      id="camera_wrap"
      class="camera_wrap"
      style="display: block; height: 444px;"
    >
      <div class="camera_fakehover">
        <div class="camera_src camerastarted">
          <div data-src="../../../assets/site/images/slide.jpg"></div>
          <div data-src="../../../assets/site/images/slide1.jpg"></div>
          <div data-src="../../../assets/site/images/slide2.jpg"></div>
        </div>
        <!--Carousel Wrapper-->

  <!--/.Carousel Wrapper-->
        <div class="camera_overlayer">
            <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-2" data-slide-to="1"></li>
                  <li data-target="#carousel-example-2" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <div class="view">
                      <img class="d-block w-100" src="../../../assets/site/images/slide.jpg" alt="First slide">
                      <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive">This is the first title</h3>
                      <p>First text</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                      <img class="d-block w-100" src="../../../assets/site/images/slide1.jpg" alt="Second slide">
                      <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive">Thir is the second title</h3>
                      <p>Secondary text</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                      <img class="d-block w-100" src="../../../assets/site/images/slide2.jpg" alt="Third slide">
                      <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                      <h3 class="h3-responsive">This is the third title</h3>
                      <p>Third text</p>
                    </div>
                  </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
              </div>
        </div>
        
        <div class="camera_target_content">
          <div class="cameraContents">
            <div class="cameraContent" style="display: none;">
              <div
                class="caption fadeIn"
                style="visibility: hidden; opacity: 1;"
              >
                <h2>LONDON</h2>
                <div class="price">
                  FROM
                  <span>$1000</span>
                </div>
                <a href="#">LEARN MORE</a>
              </div>
            </div>
            <div class="cameraContent cameracurrent" style="display: block;">
              <div
                class="caption fadeIn"
                style="visibility: visible; opacity: 1;"
              >
                <h2>Maldives</h2>
                <div class="price">
                  FROM
                  <span>$2000</span>
                </div>
                <a href="#">LEARN MORE</a>
              </div>
            </div>
            <div class="cameraContent" style="display: none;">
              <div
                class="caption fadeIn"
                style="visibility: hidden; opacity: 1;"
              >
                <h2>Venice</h2>
                <div class="price">
                  FROM
                  <span>$1600</span>
                </div>
                <a href="#">LEARN MORE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="camera_bar" style="display: none; top: auto; height: 7px;">
          <span
            class="camera_bar_cont"
            style="
              opacity: 0.8;
              position: absolute;
              left: 0px;
              right: 0px;
              top: 0px;
              bottom: 0px;
              background-color: rgb(34, 34, 34);
            "
            ><span
              id="pie_0"
              style="
                opacity: 0.8;
                position: absolute;
                background-color: rgb(238, 238, 238);
                left: 0px;
                right: 0px;
                top: 2px;
                bottom: 2px;
                display: block;
              "
            ></span
          ></span>
        </div>
        <div class="camera_commands">
          <div class="camera_play" style="display: none;"></div>
          <div class="camera_stop" style="display: block;"></div>
        </div>
        <div class="camera_prev"><span></span></div>
        <div class="camera_next"><span></span></div>
      </div>
      <div
        class="camera_loader"
        style="display: none; visibility: visible;"
      ></div>
    </div>
  </div>
  <!--==============================Content=================================-->
  <div class="content">
    <div class="ic">
      More Website Templates @ TemplateMonster.com - February 10, 2014!
    </div>
    <div class="container_12">
      <div class="grid_4">
        <div class="banner">
          <img src="../../../assets/site/images/ban_img1.jpg" alt="" />
          <div class="label">
            <div class="title">Barcelona</div>
            <div class="price">FROM<span>$ 1000</span></div>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="banner">
          <img src="../../../assets/site/images/ban_img2.jpg" alt="" />
          <div class="label">
            <div class="title">GOA</div>
            <div class="price">FROM<span>$ 1.500</span></div>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="banner">
          <img src="../../../assets/site/images/ban_img3.jpg" alt="" />
          <div class="label">
            <div class="title">PARIS</div>
            <div class="price">FROM<span>$ 1.600</span></div>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="grid_6">
        <h3>Booking Form</h3>
        <form id="bookingForm">
          <div class="fl1">
            <div class="controlHolder">
              <div class="tmInput">
                <input
                  name="Name"
                  placeholder="Name:"
                  type="text"
                  data-constraints="@NotEmpty @Required @AlphaSpecial"
                  id="regula-generated-986540"
                />
              </div>
            </div>
            <div class="controlHolder">
              <div class="tmInput">
                <input
                  name="Country"
                  placeholder="Country:"
                  type="text"
                  data-constraints="@NotEmpty @Required"
                  id="regula-generated-837690"
                />
              </div>
            </div>
          </div>
          <div class="fl1">
            <div class="controlHolder">
              <div class="tmInput">
                <input
                  name="Email"
                  placeholder="Email:"
                  type="text"
                  data-constraints="@NotEmpty @Required @Email"
                  id="regula-generated-167631"
                />
              </div>
            </div>
            <div class="controlHolder">
              <div class="tmInput mr0">
                <input
                  name="Hotel"
                  placeholder="Hotel:"
                  type="text"
                  data-constraints="@NotEmpty @Required"
                  id="regula-generated-459484"
                />
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <strong>Check-in</strong>
          <div class="controlHolder">
            <label class="tmDatepicker">
              <input
                type="text"
                name="Check-in"
                placeholder="10/05/2014"
                data-constraints="@NotEmpty @Required @Date"
                id="dp1590073251027"
                class="hasDatepicker"
              />
            </label>
          </div>
          <div class="clear"></div>
          <strong>Check-out</strong>
          <div class="controlHolder">
            <label class="tmDatepicker">
              <input
                type="text"
                name="Check-out"
                placeholder="20/05/2014"
                data-constraints="@NotEmpty @Required @Date"
                id="dp1590073251028"
                class="hasDatepicker"
              />
            </label>
          </div>
          <div class="clear"></div>
          <div class="controlHolder">
            <div class="tmRadio">
              <p>Comfort</p>
              <input
                name="Comfort"
                type="radio"
                id="tmRadio0"
                data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])'
                checked=""
                style="display: none;"
              /><strong class="checked"></strong>
              <span>Cheap</span>
              <input
                name="Comfort"
                type="radio"
                id="tmRadio1"
                data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])'
                style="display: none;"
              /><strong class="unchecked"></strong>
              <span>Standart</span>
              <input
                name="Comfort"
                type="radio"
                id="tmRadio2"
                data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])'
                style="display: none;"
              /><strong class="unchecked"></strong>
              <span>Lux</span>
            </div>
          </div>
          <div class="clear"></div>
          <div class="fl1 fl2">
            <em>Adults</em>
            <div class="controlHolder">
              <select
                name="Adults"
                class="tmSelect auto"
                data-class="tmSelect tmSelect2"
                data-constraints=""
                style="display: none;"
              >
                <option>1</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <ul class="tmSelect tmSelect2 auto trans-element">
                <li>
                  <span>1</span>
                  <ul style="display: none;" class="transformSelectDropdown">
                    <li data-settings="" class=""><span>1</span></li>
                    <li data-settings="" class=""><span>2</span></li>
                    <li data-settings="" class=""><span>3</span></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
            <em>Rooms</em>
            <div class="controlHolder">
              <select
                name="Rooms"
                class="tmSelect auto"
                data-class="tmSelect tmSelect2"
                data-constraints=""
                style="display: none;"
              >
                <option>1</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <ul class="tmSelect tmSelect2 auto trans-element">
                <li>
                  <span>1</span>
                  <ul style="display: none;" class="transformSelectDropdown">
                    <li data-settings="" class=""><span>1</span></li>
                    <li data-settings="" class=""><span>2</span></li>
                    <li data-settings="" class=""><span>3</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="fl1 fl2">
            <em>Children</em>
            <div class="controlHolder">
              <select
                name="Children"
                class="tmSelect auto"
                data-class="tmSelect tmSelect2"
                data-constraints=""
                style="display: none;"
              >
                <option>0</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
              </select>
              <ul class="tmSelect tmSelect2 auto trans-element">
                <li>
                  <span>0</span>
                  <ul style="display: none;" class="transformSelectDropdown">
                    <li data-settings="" class=""><span>0</span></li>
                    <li data-settings="" class=""><span>1</span></li>
                    <li data-settings="" class=""><span>2</span></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="controlHolder">
            <div class="tmTextarea">
              <textarea
                name="Message"
                placeholder="Message"
                data-constraints="@NotEmpty @Required @Length(min=20,max=999999)"
                id="regula-generated-78994"
              ></textarea>
            </div>
          </div>
          <a href="#" class="btn" data-type="submit">Submit</a>
        </form>
      </div>
      <div class="grid_5 prefix_1">
        <h3>Welcome</h3>
        <img
          src="../../../assets/site/images/page1_img1.jpg"
          alt=""
          class="img_inner fleft"
        />
        <div class="extra_wrapper">
          <p>Lorem ipsum dolor sit ere amet, consectetur ipiscin.</p>
          In mollis erat mattis neque facilisis, sit ametiol
        </div>
        <div class="clear cl1"></div>
        <p>Proin pharetra luctus diam, a scelerisque eros convallis</p>
        <h4>Clients’ Quotes</h4>
        <blockquote class="bq1">
          <img
            src="../../../assets/site/images/page1_img1.jpg"
            alt=""
            class="img_inner noresize fleft"
          />
          <div class="extra_wrapper">
            <p>
              Duis massa elit, auctor non pellentesque vel, aliquet sit amet
              erat. Nullam eget dignissim nisi, aliquam feugiat nibh.
            </p>
            <div class="alright">
              <div class="col1">Miranda Brown</div>
              <a href="#" class="btn">More</a>
            </div>
          </div>
        </blockquote>
      </div>
      <div class="grid_12">
        <h3 class="head1">Latest News</h3>
      </div>
      <div class="grid_4">
        <div class="block1">
          <time datetime="2014-01-01">10<span>Jan</span></time>
          <div class="extra_wrapper">
            <div class="text1 col1"><a href="#">Aliquam nibh</a></div>
            Proin pharetra luctus diam, any scelerisque eros convallisumsan.
            Maecenas vehicula egestas
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <time datetime="2014-01-01">21<span>Jan</span></time>
          <div class="extra_wrapper">
            <div class="text1 col1"><a href="#">Etiam dui eros</a></div>
            Any scelerisque eros vallisumsan. Maecenas vehicula egestas natis.
            Duis massa elit, auctor non
          </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <time datetime="2014-01-01">15<span>Feb</span></time>
          <div class="extra_wrapper">
            <div class="text1 col1"><a href="#">uamnibh Edeto</a></div>
            Ros convallisumsan. Maecenas vehicula egestas venenatis. Duis massa
            elit, auctor non
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--==============================footer=================================-->
  <footer>
    <div class="container_12">
      <div class="grid_12">
        <div class="socials">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google-plus"></a>
        </div>
        <div class="copy">
          Your Trip (c) 2014 | <a href="#">Privacy Policy</a> | Website Template
          Designed by TemplateMonster.com
        </div>
      </div>
    </div>
  </footer>
  <script>
    $(function () {
      $("#bookingForm").bookingForm({
        ownerEmail: "#",
      });
    });
    $(function () {
      $("#bookingForm input, #bookingForm textarea").placeholder();
    });
  </script>

  <a href="#" id="toTop" style="margin-right: 0px; right: 10px; display: none;"
    ><span id="toTopHover"> </span
  ></a>
  <div
    id="ui-datepicker-div"
    class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"
  ></div>
</body>
