<h1>Create new Client</h1>

<form [(formGroup)]="angForm" novalidate>
  <div class="form-group">
        <label for="">First Name	</label>
        <input  type="text"
         class="form-control"  placeholder="Enter the name"
         formControlName="nom" 
         #nom>
      </div>
      <div *ngIf="angForm.controls['nom'].invalid && (angForm.controls['nom'].dirty || angForm.controls['nom'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['nom'].errors.required">
          First Name  is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="">Last Name	</label>
        <input class="form-control"
            placeholder="Enter the Last Name"
            formControlName="prenom" 
         #prenom>
      </div>
      <div *ngIf="angForm.controls['prenom'].invalid && (angForm.controls['prenom'].dirty || angForm.controls['prenom'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['prenom'].errors.required">
          Last Name  is required.
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"> Mail	</label>
        <input 
          type="email"
          class="form-control" 
          placeholder="Enter the Email"
          formControlName="mail" 
          #mail>
      </div>
      <div *ngIf="angForm.controls['mail'].invalid && (angForm.controls['mail'].dirty || angForm.controls['mail'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['capacite'].errors.required">
          Email  is required.
        </div>
      </div>
     
 
    <div class="form-check">
      <p>Choisir votre Genre</p>

      <label class="form-check-label" for="radio1">
        <input type="radio" class="form-check-input" id="radio1" value="Femme"  formControlName="genre" 
         #genre >Femme
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="radio2">
        <input type="radio" class="form-check-input" id="radio2"  value="Homme"formControlName="genre" 
        #genre>Homme
      </label>
    </div>

    <!-- <select  type="text"
         class="form-control"  placeholder="Enter the genre"
         formControlName="genre" 
         #genre><option>Homme</option>
         <option>Femme</option>
         </select>
      </div> -->
      <div *ngIf="angForm.controls['genre'].invalid && (angForm.controls['genre'].dirty || angForm.controls['genre'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['genre'].errors.required">
          genre   is required.
        </div>
      </div>
      <div class="form-group">
        <label for="">nationalité	</label>
        <input  type="text"
         class="form-control"  placeholder="Enter the nationalite"
         formControlName="nationalite" 
         #nationalite>
      </div>
      <div *ngIf="angForm.controls['nationalite'].invalid && (angForm.controls['nationalite'].dirty || angForm.controls['nationalite'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['nationalite'].errors.required">
          nationalite   is required.
        </div>
      </div>
      <div class="form-group">
        <label for="">Civilité	</label>
        <select  type="text"
         class="form-control"  placeholder="Enter the civilité"
         formControlName="civilite" 
         #civilite><option>Madame</option>
         <option>Mademoiselle</option>
         <option>Monsieur</option></select>
      </div>
      <div *ngIf="angForm.controls['civilite'].invalid && (angForm.controls['civilite'].dirty || angForm.controls['civilite'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['civilite'].errors.required">
          civilité Name  is required.
        </div>
      </div>
      <div class="form-group">
        <label for="">IdPassport	</label>
        <input  type="text"
         class="form-control"  placeholder="Enter the idPassport"
         formControlName="idPassport" 
         #idPassport>
      </div>
      <div *ngIf="angForm.controls['idPassport'].invalid && (angForm.controls['idPassport'].dirty || angForm.controls['idPassport'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['idPassport'].errors.required">
          idPassport is required.
        </div>
      </div>
      <div class="form-group">
       <p> Date Expiration </p>
        <mat-form-field>
          <mat-label>select date </mat-label>
          <input matInput [matDatepicker]="datepickercolor" formControlName="dateExp" 
          #dateExp>
          <mat-datepicker-toggle matSuffix [for]="datepickercolor">
          </mat-datepicker-toggle>
          <mat-datepicker #datepickercolor color="warn"></mat-datepicker>
        </mat-form-field>  
      
      </div>
      <div *ngIf="angForm.controls['dateExp'].invalid && (angForm.controls['dateExp'].dirty || angForm.controls['dateExp'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['dateExp'].errors.required">
          dateExp  is required.
        </div>
      </div>
    
      <div class="form-group float-right">
        <button  (click)="onClose()" cdkFocusInitial type="submit" class="btn btn-primary">Close</button>
      <button  (click) = "add(nom.value, prenom.value,mail.value,genre.value,nationalite.value ,civilite.value,idPassport.value,dateExp.value)" 
        [disabled]="angForm.pristine || angForm.invalid"
        type="submit" class="btn btn-primary">Create</button>
      </div>
  
  </form>
